#wrap {
  width: 960px;
  margin: 0 auto;
}

body{
  background: whitesmoke;
  color: #666666;
}

h1, h2, h3, h4, h5, h6{
  font-family: 'Open Sans Condensed', sans-serif, sans-serif;
}

/* ------------------ */
/* ----Jumbotron----- */
/* ------------------ */


.jumbotron {
  background-image:url('lake-sunset');
  height:370px;
  background-repeat: no-repeat;
  background-size: auto 100%;
  border-bottom:1px solid #ff6a00
}

.jumbotron h1, p{
  color: whitesmoke;
}


/* --------------- */
/* ----Header----- */
/* --------------- */

#header {
  padding: 50px 0 10px 0;
  border-bottom: 10px #ddd solid;
  overflow: hidden;
}

#header h1 {
  float: left;
  font-size: 40px;
  font-weight:bold;
  letter-spacing: -2px;
  margin: 0;
}

#header h2 {
  float: right;
  font-size: 30px;
  color: #aaaaaa;
  margin: 8px 0 0 0;
}
/* ------------ */
/* ----BIO----- */
/* ------------ */

#bio {
  margin: 55px 0 40px 0;
}

#bio h3 {
  font-size: 20px;
  color: #666666;
  margin:0 0 17px 0;
}

#bio h4 {
  font-size: 20px;
  margin: 0 0 0 0;
}

#bio h4 span {
  color: #888888;
}

#bio h5 {
  font-size: 16px;
  margin: 9px 0 0 0;
}

#bio p {
  line-height: 22px;
  margin: 0 0 23px 0;
  color: #888888;
}

#bio #about {
  float: left;
  width: 610px;
  margin: 0 0 60px 0;
}

#photo-bg {
  float: left;
  width: 180px;
  height: 180px;
  margin: 0 50px 0 0;
  -webkit-box-shadow: 0px 0 5px #aaa;
  -moz-box-shadow: 0px 0 5px #aaa;
  box-shadow: 0px 0 5px #aaa;
  background: #ffffff;
  padding: 5px;
}

#bio #about .photo img {
  border: 1px #ccc solid;
  width: 250px;
  height: 250px;
}

#contact-details {
  float: right;
  width: 270px;
}

#contact-details h5 {
  color: #555555;
}

#contact-details h5 span {
  color: #888888;
}