<div class="container text-center">
  <ul class="nav nav-tabs" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" data-toggle="tab" href="#users" role="tab">Users</a>
    </li>
    <li class="nav-item" id="companies-tab">
      <a class="nav-link" data-toggle="tab" href="#companies" role="tab">Companies</a>
    </li>
  </ul>

  <div class="tab-content">
    <div class="tab-pane active" id="users" role="tabpanel">
      <table class="table">
        <thead>
          <th>User</th>
          <th>Active?</th>
        </thead>

        <tbody>
          <% @users.each do |user| %>
          <tr>
            <th scope="row"><%= user.username %></th>
              <td>
                <%= button_to "Deactivate", admin_user_path(id: user.id, new_status: "inactive"), method: :patch, class: "btn btn-danger" if user.active? %>
                <%= button_to "Activate", admin_user_path(id: user.id, new_status: "active"), method: :patch, class: "btn btn-success" if user.inactive? %>
              </td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <div class="tab-pane" id="companies" role="tabpanel">
      <% @companies.each do |company| %>
      <% end %>
    </div>
  </div>
</div>
