<div class="container center-text">

<p>Username: <%= @user.username %></p>
<p>Current Position: <%= @user.headline %></p>
<p>Industry: <%= @user.summary %></p>


<p><%= link_to 'Authorize this app to use your Linkedin information',
               '/auth/linkedin', class: "btn btn-primary"  %></p>
</div>
