<div class = "jumbotron">
  <div class = "container">
    <h1>User's profile page</h1>
    <p>I'm just an example</p>
    <!--<p>-->
      <!--<a class = "btn btn-primary btn-lg" role = "button">Learn more</a>-->
    <!--</p>-->
  </div>

</div>
<div id="wrap">
  <div id="header">
    <h1>Chantal Justamond</h1>
    <h2>Software Developer</h2>
  </div>
  <div id="bio">
    <div id="about">
      <div id="photo-bg">
        <img src="man.jpg" alt="" width="180" height="180">
      </div>
      <h3>About Me</h3>
      <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec id elit non mi porta gravida at eget metus. Aenean lacinia bibendum nulla sed consectetur. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
      <h4>Status: <span>Hired / Available</span> </h4>
    </div>
    <div id="contact-details">
      <h3>Contact Me</h3>
      <p>Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh. Please get in touch:</p>
      <h5>Phone: <span>01234 567 890</span></h5>
      <h5>Email: <span>email@eemail.com</span></h5>
      <h5>Twitter: <span>@mytwitter</span></h5>
    </div>
  </div>
</div>
<div class="line"></div>
