
<%= link_to 'Login', login_path %>

<div class="container">
  <div class="jumbotron">
    <h3 class="masthead-brand"> </h3>
    <p>
      You're an outstanding developer living in the following mindsets: growth, engagement, agency, empathy, and grit.
      <br>
      <br>
      Join a community with like-minded professionals to grow your career!
    </p>
  </div>
</div>

<div class="mastfoot">
  <div class="container text-center">
    <p>Collaborative project brought to you by: <a href="https://github.com/emcooper">Ellen Cooper</a>, <a href="https://github.com/samanthagongora">Samantha Gongora</a>, <a href="https://github.com/chantal66">Chantal Justamond</a>, <a href="https://github.com/katiekeel">Katie Keel</a>, <a href="https://github.com/destodo">Desislava Todorova</a>, <a href="https://github.com/yoasyo25">Yohanan Assefa</a></p>
  </div>
</div>

