<h3>All Companies</h3>
<div class="container">
  <% @companies.each do |company| %>
  <div class="row">
      <%= company.name %>
      <img src="<%= company.image_url %>" alt="company picture">
      <%= company.industries %>
      <%= company.locations %>
  </div>
  <% end %>
</div>
