.overview {
  background-color: #F5F5F5;
  border: black solid 2px;
}
 .tabs {
   margin-left: 10px;
 }

 .panel-body {
  border: black solid 2px;
 }

 .nav-tabs {
   margin: 20px;
 }

 .new-contact-button {
   margin-bottom: 10px;
 }

 .contact-badge {
   margin-bottom: 10px;
   font-size: 13px
 }
