<div class="insights container">
  <h1 class = "page-header text-center">Insights</h1>

  <div class="row top-charts">
    <div class="col-md-6">
      <div class = "chart" id="container-cities"></div>
    </div>
    <div class="col-md-6">
      <div class = "chart" id="container-job-titles"></div>
    </div>
    <div class="col-md-12">
      <div class = "chart" id="container-pop-technologies"></div>
    </div>
    </div>
    <div class="row bottom-charts">
      <h3 class = "text-center technologies-by-industry">Most Popular Technologies by Industry</h3>
    <div class="col-md-4">
      <div class = "chart" id="container-hospitality-tech"></div>
    </div>
    <div class="col-md-4">
      <div class = "chart" id="container-accounting-tech"></div>
    </div>
    <div class="col-md-4">
      <div class = "chart" id="container-administration-tech"></div>
    </div>
    <div class="col-md-4">
      <div class = "chart" id="container-education-tech"></div>
    </div>
    <div class="col-md-4">
      <div class = "chart" id="container-construction-tech"></div>
    </div>
    <div class="col-md-4">
      <div class = "chart" id="container-manufacturing-tech"></div>
    </div>
    <div class="col-md-4">
      <div class = "chart" id="container-marketing-tech"></div>
    </div>
    <div class="col-md-4">
      <div class = "chart" id="container-it-tech"></div>
    </div>
  </div>
</div>
